.Header {background-color: aqua;font-size: 40px;}

#p {text-align: left; columns: auto;}

#nav1 {text-align: right;font-size: 20px;}

#img {width: 250px; float: right;}
/* find out how to put the words in a column*/
/*findout how to set img side by side the column of words */